<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="jumbotron text-center">
    <h1>
      Angular App
    </h1>
    <p class="lead">Welcome to Angular app build from scratch</p>
    <div class="img">
      <img src="https://source.unsplash.com/420x320/?cars">
    </div>
    <br>
      <div style="font-style: italic; font: bolder;">
        Click Here to get all Users
      </div>
    <br>
    <button  class="btn-success" routerLink="/users">Users</button>
  </div>


</body>
</html>


